$background-color: #f6f4ff;
$font-color: #4e595d;
$link-color: #0e58cf;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color;
    background-color: $background-color;
    min-height: 100%;
}

.shadow-box {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.subtitle {
    color: #8a94a6;
    font-size: 14px;
}

.subtitle-out {
    color: #8a94a6;
    font-size: 14px;
    margin: 1.5em 0 0;
}

.link {
    color: $link-color;
}

.text-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #eee;
}

.desktop {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.auto-cursor {
    cursor: auto;
}

.image img.fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
