<template>
    <div v-if="comment">
        <article class="media">
            <figure class="media-left">
                <router-link
                    v-if="comment.author.avatar"
                    class="image is-48x48 is-square"
                    :to="{ name: 'user-page', params: { id: comment.author.id } }"
                >
                    <img class="is-rounded fit" :src="comment.author.avatar">
                </router-link>

                <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                    <DefaultAvatar class="image is-48x48" :user="comment.author" />
                </router-link>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            {{ comment.author.firstName }} {{ comment.author.lastName }}
                        </strong>
                        <br>
                        {{ comment.body }}
                    </p>
                    <figure v-if="comment.imageUrl" class="image is-3by1 comment-image">
                        <img
                            :src="comment.imageUrl"
                            alt="Comment image"
                            @click="showImageModal"
                        >
                    </figure>
                    <p>
                        <small class="has-text-grey">
                            {{ comment.created | createdDate }}
                        </small>
                    </p>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <b-tooltip label="Like" animated>
                                <a class="level-item" @click="onLikeOrDislikeComment">
                                    <span
                                        class="icon is-medium has-text-info"
                                        :class="{
                                            'has-text-danger': commentIsLikedByUser(comment.id, user.id)
                                        }"
                                    >
                                        <font-awesome-icon icon="heart" />
                                    </span>
                                </a>
                            </b-tooltip>
                            <b-tooltip label="Who liked comment" animated>
                                <a class="level-item" @click="onWhoLikedCommentList">
                                    {{ comment.likesCount }}
                                </a>
                            </b-tooltip>
                        </div>
                    </nav>
                </div>
            </div>
            <div v-if="isCommentOwner(comment.id, user.id)" class="column is-narrow is-12-mobile">
                <div class="buttons">
                    <b-button type="is-warning" @click="onEditComment">Edit</b-button>
                    <b-button type="is-danger" @click="onDeleteComment">Delete</b-button>
                </div>
            </div>
        </article>
        <b-modal :active.sync="isImageModalActive">
            <p class="image is-4by3">
                <img class="fit" :src="comment.imageUrl">
            </p>
        </b-modal>
        <b-modal :active.sync="isEditCommentModalActive" has-modal-card>
            <EditCommentForm :comment="comment" />
        </b-modal>
        <b-modal :active.sync="isWhoLikedCommentModalActive" has-modal-card>
            <WhoLikedCommentList :comment="comment" />
        </b-modal>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import WhoLikedCommentList from './WhoLikedCommentList.vue';
import EditCommentForm from './EditCommentForm.vue';
import showStatusToast from '../../mixin/showStatusToast';


export default {
    name: 'Comment',

    components: {
        DefaultAvatar,
        EditCommentForm,
        WhoLikedCommentList,
    },

    mixins: [showStatusToast],

    data: () => ({
        isEditCommentModalActive: false,
        isImageModalActive: false,
        isWhoLikedCommentModalActive: false
    }),

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),

        ...mapGetters('comment', [
            'isCommentOwner',
            'commentIsLikedByUser',
        ]),
    },

    methods: {
        ...mapActions('comment', [
            'deleteComment',
            'likeOrDislikeComment'
        ]),

        onEditComment() {
            this.isEditCommentModalActive = true;
        },

        onDeleteComment() {
            this.$buefy.dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete Comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment({
                            id: this.comment.id,
                            tweetId: this.comment.tweetId,
                        });

                        this.showSuccessMessage('Comment deleted!');
                    } catch {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                }
            });
        },

        showImageModal() {
            this.isImageModalActive = true;
        },

        async onLikeOrDislikeComment() {
            try {
                await this.likeOrDislikeComment({
                    id: this.comment.id,
                    userId: this.user.id
                });
            } catch (error) {
                console.error(error.message);
            }
        },

        onWhoLikedCommentList() {
            this.isWhoLikedCommentModalActive = true;
        }
    },

    props: {
        comment: {
            type: Object,
            required: true,
        },
    },
};
</script>

<style lang="scss" scoped>
nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}

.comment-image {
    margin: 12px 0 0 0;

    img {
        width: auto;
        cursor: pointer;
    }
}
</style>
