<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Who liked comment</p>
        </header>

        <section class="modal-card-body">
            <div v-if="users.length > 0">
                <div v-for="user in users" :key="user.id" class="usersList">
                    <article class="media">
                        <figure class="media-left">
                            <router-link
                                v-if="user.avatar"
                                class="image is-48x48 is-square"
                                :to="{ name: 'user-page', params: { id: user.id } }"
                            >
                                <img
                                    class="is-rounded fit"
                                    :src="user.avatar"
                                    alt="Author avatar"
                                >
                            </router-link>

                            <router-link v-else :to="{ name: 'user-page', params: { id: user.id } }">
                                <DefaultAvatar class="image is-48x48" :user="user" />
                            </router-link>
                        </figure>

                        <router-link :to="{ name: 'user-page', params: { id: user.id } }">
                            <strong>{{ user.firstName }} {{ user.lastName }}</strong>
                        </router-link>
                    </article>
                </div>
            </div>
            <div v-else>
                No users like this comment.
            </div>
        </section>

        <footer class="modal-card-foot" />
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import DefaultAvatar from '../../common/DefaultAvatar.vue';

export default {
    name: 'WhoLikedCommentList',

    components: {
        DefaultAvatar,
    },

    props: {
        comment: {
            type: Object,
            required: true
        }
    },

    data: () => ({
        users: []
    }),

    async created() {
        this.users = await this.fetchUsersWhoLikedComment(this.comment.id);
    },

    methods: {
        ...mapActions('auth', [
            'fetchUsersWhoLikedComment',
        ]),
    },

    showErrorMessage(msg) {
        this.errorMessage = msg;
    }
};
</script>

<style lang="scss" scoped>
    .error {
        padding: 10px 0;
    }

    .usersList {
        display: inline-block;
        vertical-align: top;
        width: 33.3%;
        margin: 3px 0;

        .media {
            border: 0;
            padding: 0;
        }
    }
</style>
