<template>
    <div class="tweets-container">
        <transition-group name="slide-prev" tag="div">
            <template v-for="tweet in tweets">
                <TweetPreview
                    v-if="tweetPreviewView === 'TweetPreview'"
                    :key="tweet.id"
                    :tweet="tweet"
                    @click="onTweetClick"
                />
                <TweetPreviewCard
                    v-else
                    :key="tweet.id"
                    :tweet="tweet"
                    @click="onTweetClick"
                />
            </template>
        </transition-group>
        <infinite-loading @infinite="infiniteHandler">
            <div slot="no-more" />
            <div slot="no-results" />
            <div slot="spinner" />
        </infinite-loading>
    </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';
import TweetPreview from './TweetPreview.vue';
import TweetPreviewCard from './TweetPreviewCard.vue';

export default {
    name: 'TweetPreviewList',

    props: {
        tweetPreviewView: String,
        tweets: {
            type: Array,
            required: true
        },
    },

    components: {
        TweetPreview,
        TweetPreviewCard,
        InfiniteLoading,
    },

    methods: {
        onTweetClick(tweet) {
            this.$router.push({ name: 'tweet-page', params: { id: tweet.id } }).catch(() => {});
        },

        infiniteHandler($state) {
            this.$emit('infinite', $state);
        },
    },
};
</script>

<style scoped lang="scss">
.tweets-container {
    padding-bottom: 20px;
}
</style>
