<template>
    <div class="card box" @click="$emit('click', tweet)">
        <div class="card-image">
            <figure v-if="tweet.imageUrl" class="image is-1by1">
                <img :src="tweet.imageUrl" alt="Tweet image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <router-link
                            v-if="tweet.author.avatar"
                            class="image is-48x48 is-square"
                            :to="{ name: 'user-page', params: { id: tweet.author.id } }"
                        >
                            <img class="is-rounded fit" :src="tweet.author.avatar" alt="Author avatar">
                        </router-link>

                        <router-link v-else :to="{ name: 'user-page', params: { id: tweet.author.id } }">
                            <DefaultAvatar class="image is-48x48" :user="tweet.author" />
                        </router-link>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ tweet.author.firstName }} {{ tweet.author.lastName }}</p>
                    <p class="subtitle is-6">@{{ tweet.author.nickname }}</p>
                </div>
            </div>

            <div class="content">
                {{ tweet.text }}
                <br>
                <small class="created">{{ tweet.created | createdDate }}</small>
            </div>
        </div>
        <nav class="level is-mobile">
            <a class="level-item auto-cursor">
                <span
                    class="icon is-medium has-text-info"
                    :class="{
                        'has-text-danger': tweetIsCommentedByUser(tweet.id, user.id)
                    }"
                >
                    <font-awesome-icon icon="comments" />
                </span>
                {{ tweet.commentsCount }}
            </a>
            <a class="level-item auto-cursor">
                <span
                    class="icon is-medium has-text-info"
                    :class="{
                        'has-text-danger': tweetIsLikedByUser(tweet.id, user.id)
                    }"
                >
                    <font-awesome-icon icon="heart" />
                </span>
                {{ tweet.likesCount }}
            </a>
        </nav>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import DefaultAvatar from './DefaultAvatar.vue';

export default {
    name: 'TweetPreviewCard',

    components: {
        DefaultAvatar,
    },

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),

        ...mapGetters('tweet', [
            'tweetIsLikedByUser',
            'tweetIsCommentedByUser'
        ]),
    },

    props: {
        tweet: {
            type: Object,
            required: true,
        },
    },
};
</script>

<style lang="scss" scoped>
    @import '../../styles/common';

    .card {
        cursor: pointer;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 0 #00000020;
        transition: 0.2s ease-out all;

        &:hover {
            box-shadow: 1px 1px 0 0 #00000020;
        }

        &-image {
            margin: 12px 0 0 0;

            img {
                width: auto;
            }
        }

        .nickname {
            margin-left: 5px;
        }

        .created {
            margin-left: 5px;
        }
    }
</style>
