<template>
    <div class="feed-container">
        <div class="navigation">
            <nav class="level is-mobile">
                <div class="level-right">
                    <b-button
                        class="btn-add-tweet"
                        rounded
                        size="is-medium"
                        type="is-danger"
                        icon-left="twitter"
                        icon-pack="fab"
                        @click="onAddTweetClick"
                    >
                        Tweet :)
                    </b-button>
                </div>
                <div class="level-left">
                    <b-field>
                        <b-select v-model="sort" class="select-sort-tweet" @input="onSort">
                            <option value="created_at">Sort by created date</option>
                            <option value="likes_count">Sort by like count</option>
                        </b-select>
                    </b-field>

                    <b-field>
                        <b-select v-model="direction" class="select-sort-tweet" @input="onSort">
                            <option value="desc">Descending</option>
                            <option value="asc">Ascending</option>
                        </b-select>
                    </b-field>

                    <b-field>
                        <b-select v-model="tweetPreviewView" class="select-sort-tweet">
                            <option value="TweetPreview">Tweet view media</option>
                            <option value="TweetPreviewCard">Tweet view card</option>
                        </b-select>
                    </b-field>
                </div>
            </nav>
        </div>

        <TweetPreviewList :tweets="tweets" :tweetPreviewView="tweetPreviewView" @infinite="infiniteHandler" />

        <b-modal :active.sync="isNewTweetModalActive" has-modal-card>
            <NewTweetForm />
        </b-modal>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import TweetPreviewList from '@/components/common/TweetPreviewList.vue';
import { pusher } from '@/services/Pusher';
import { SET_TWEET } from '@/store/modules/tweet/mutationTypes';
import showStatusToast from '@/components/mixin/showStatusToast';
import NewTweetForm from './NewTweetForm.vue';

export default {
    name: 'FeedContainer',

    mixins: [showStatusToast],

    components: {
        TweetPreviewList,
        NewTweetForm,
    },

    data: () => ({
        isNewTweetModalActive: false,
        page: 1,
        sort: 'created_at',
        direction: 'desc',
        tweetPreviewView: 'TweetPreview',
    }),

    async created() {
        try {
            await this.fetchTweets({
                page: 1,
                sort: this.sort,
                direction: this.direction,
            });
        } catch (error) {
            this.showErrorMessage(error.message);
        }

        const channel = pusher.subscribe('private-tweets');

        channel.bind('tweet.added', (data) => {
            this.$store.commit(`tweet/${SET_TWEET}`, data.tweet);
        });
    },

    beforeDestroy() {
        pusher.unsubscribe('private-tweets');
    },

    computed: {

        ...mapGetters('tweet', [
            'tweetsSortedByCreatedDateDesc',
            'tweetsSortedByCreatedDateAsc',
            'tweetsSortedByLikesCountDesc',
            'tweetsSortedByLikesCountAsc',
        ]),

        tweets() {
            switch (this.sort + '_' + this.direction) {
            case 'likes_count_desc':
                return this.tweetsSortedByLikesCountDesc;
            case 'likes_count_asc':
                return this.tweetsSortedByLikesCountAsc;
            case 'created_at_asc':
                return this.tweetsSortedByCreatedDateAsc;
            default:
                return this.tweetsSortedByCreatedDateDesc;
            }
        }
    },

    methods: {
        ...mapActions('tweet', [
            'fetchTweets',
        ]),

        onAddTweetClick() {
            this.showAddTweetModal();
        },

        showAddTweetModal() {
            this.isNewTweetModalActive = true;
        },

        async infiniteHandler($state) {
            try {
                const tweets = await this.fetchTweets({
                    page: this.page + 1,
                    sort: this.sort,
                    direction: this.direction,
                });

                if (tweets.length) {
                    this.page += 1;
                    $state.loaded();
                } else {
                    $state.complete();
                }
            } catch (error) {
                this.showErrorMessage(error.message);
                $state.complete();
            }
        },

        onSort() {
            try {
                this.fetchTweets({
                    page: 1,
                    sort: this.sort,
                    direction: this.direction,
                });
            } catch (error) {
                this.showErrorMessage(error.message);
            }
        },
    },
};
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';

.navigation {
    padding: 10px 0;
    margin-bottom: 20px;
}

.modal-card {
    border-radius: 6px;
}

.btn-add-tweet {
    transition: 0.2s ease-out all;
    box-shadow: 1px 5px 5px 0 #00000020;

    &:hover {
        box-shadow: 1px 1px 0 0 #00000020;
    }

    @media screen and (max-width: $tablet) {
        font-size: 1rem;
    }
}

.field:not(:last-child) {
    margin-bottom:0;
}

.select-sort-tweet {
    transition: 0.2s ease-out all;
    box-shadow: 1px 5px 5px 0 #00000020;
    margin-left: 10px;
    margin-bottom: 0;

    &:hover {
        box-shadow: 1px 1px 0 0 #00000020;
    }

    @media screen and (max-width: $tablet) {
        font-size: 1rem;
    }
}
</style>
