<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-one-third-desktop">
                        <div class="box shadow-box">
                            <p class="subtitle">
                                Find your Twitter account. Enter your email.
                            </p>

                            <form
                                class="form"
                                @submit.prevent
                                novalidate="true"
                            >
                                <b-field label="Email">
                                    <b-input
                                        v-model="user.email"
                                        name="email"
                                        placeholder="user@example.com"
                                        autofocus
                                    />
                                </b-field>

                                <div class="has-text-centered">
                                    <button
                                        type="button"
                                        class="button is-primary is-rounded"
                                        @click="onFindEmail"
                                    >
                                        Find
                                    </button>
                                </div>

                                <p class="subtitle-out">
                                    Remember your password?
                                    <router-link class="link" to="/auth/sign-in">
                                        Sign in
                                    </router-link>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions } from 'vuex';
import showStatusToast from '../components/mixin/showStatusToast';

export default {
    name: 'ForgotPassword',

    mixins: [showStatusToast],

    data: () => ({
        user: {
            email: '',
        },
    }),

    methods: {
        ...mapActions('auth', [
            'sendResetPasswordMail',
        ]),

        onFindEmail() {
            this.sendResetPasswordMail(this.user.email).then(() => {
                this.showSuccessMessage('We sent instruction on your email!');

                this.$router.push({ path: '/auth/sign-in' }).catch(() => {});
            })
                .catch(error => this.showErrorMessage(error.message));
        }
    },
};
</script>

<style scoped>
</style>
