<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-one-third-desktop">
                        <div class="box shadow-box">
                            <p class="subtitle">
                                Enter your new password
                            </p>

                            <form
                                class="form"
                                @submit.prevent
                                novalidate="true"
                            >
                                <b-field label="Email">
                                    <b-input
                                        v-model="user.email"
                                        name="email"
                                        autofocus
                                    />
                                </b-field>

                                <b-field label="Password">
                                    <b-input 
                                        type="password" 
                                        v-model="user.password"
                                    />
                                </b-field>

                                <b-field label="Confirm Password">
                                    <b-input 
                                        type="password" 
                                        v-model="user.passwordConfirmation"
                                    />
                                </b-field>

                                <div class="has-text-centered">
                                    <button
                                        type="button"
                                        class="button is-primary is-rounded"
                                        @click="onResetPassword"
                                    >
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions } from 'vuex';
import showStatusToast from '../components/mixin/showStatusToast';

export default {
    name: 'ResetPassword',

    mixins: [showStatusToast],

    data: () => ({
        user: {
            token: '',
            email: '',
            password: '',
            passwordConfirmation: '',
        },
    }),

    methods: {
        ...mapActions('auth', [
            'resetPassword',
        ]),

        onResetPassword() {
            this.user.token = this.$route.params.token;

            this.resetPassword(this.user)
                .then(() => {
                    this.showSuccessMessage('Password reset!');

                    this.$router.push({ path: '/' }).catch(() => {});
                })
                .catch(error => this.showErrorMessage(error.message));
        }
    },
};
</script>

<style scoped>
</style>
