<template>
    <div class="container desktop">
        <UserContainerLikedTweets />
    </div>
</template>

<script>
import UserContainerLikedTweets from '@/components/view/user/UserContainerLikedTweets.vue';

export default {
    name: 'UserLikedTweets',
    components: {
        UserContainerLikedTweets,
    },
};
</script>

<style scoped>

</style>
